name: app-with-monitor

services:
  # Service 1: The Web Server
  my-website:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html

  # Service 2: The Auditor (New!)
  auditor:
    image: alpine:latest
    # The command below installs 'curl' and runs a loop to check the site
    command: >
      sh -c "apk add --no-cache curl && 
      while true; do 
        echo 'Auditor says: Checking site status...'; 
        curl -s http://my-website; 
        echo '---'; 
        sleep 5; 
      done"
    depends_on:
      - my-website